{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false 
    }
}}
{{{ output.doctype }}}
<html {{{ output.htmlattributes }}}>
<head>
    <title>{{{ output.page_title }}}</title>
    <link rel="shortcut icon" href="{{{ output.favicon }}}" />
    {{{ output.standard_head_html }}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{>theme_fordson/header}} <!-- Mihir for HPCL -->

    <div id="page" class="container-fluid">
        <!--  {{{ output.headerimage }}} -->
    
        <div id="learningcontent">

        <div class="headerlogo"></div>
		
		
		
		{{{ output.salute}}}
        {{{ output.fp_slideshow }}}
		{{{ output.fp_wonderbox }}}
       <!--  {{{ output.full_header }}} -->
		
	  	{{>theme_fordson/testimonial}}

        <div id="page-content" class="row">
            <div id="region-main-box" class="col-xs-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="hidden-print {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks"{{/hasblocks}}>
                    <div class="card card-block homepagecard" >
                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ enrolform }}}
                 
                  

					<div class="col-sm-12">
					
<div class="col-md-4">
	<div style="text-align: center;">
		<a href="https://hpacademy.hpcl.co.in/elearning/course/view.php?id=264" target="_blank">
		<img width="160" height="80" class="img-responsive atto_image_button_text-top" role="presentation" alt="" src="https://hpacademy.hpcl.co.in/elearning/theme/fordson/pix/frontpage/coronavirus.jpg">
		</a>
	</div>
	<div class="editor-indent" style="">
		<div style="text-align: center; ">
			<a href="https://hpacademy.hpcl.co.in/elearning/course/view.php?id=264" target="_blank"><h3 style="text-align: center; margin-top: 25px;">SOP</h3></a>
		</div>
	</div>
</div>

<div class="col-md-4">
	<div style="text-align: center;">
		<a href="https://www.gitasupersite.iitk.ac.in/" target="_blank">
		<img width="160" height="90" class="img-responsive atto_image_button_text-top" role="presentation" alt="" src="https://hpacademy.hpcl.co.in/elearning/theme/fordson/pix/frontpage/gita.jpg">
		</a>
	</div>
	<div class="editor-indent" style="">
		<div style="text-align: center;">
			<a href="https://www.gitasupersite.iitk.ac.in/" target="_blank"><h3 style="text-align: center; margin-top: 25px;" "="">Gita Supersite</h3></a>
		</div>
	</div>
</div>


<div class="col-md-4">
	<div style="text-align: center;">
		<a class="text-center magzter" href={{{ magzterlink }}} >
			<img width="160" height="90" class="img-responsive atto_image_button_text-top" role="presentation" alt="" src="https://hpacademy.hpcl.co.in/elearning/theme/fordson/pix/magzterbanner.png">
		</a>
	</div>
	<div class="editor-indent magclass" style="">
		<div style="text-align: center;">
			<a href="{{{ magzterlink }}}" class="magzter" target="_blank"><h3 style="text-align: center; margin-top: 25px;" "=""><span class="class-category magclass2">Magzter</span></h3></a>
		</div>
	</div>

</div>

			</div>	


                    <div class="col-sm-12 bg-white">
						{{{ output.main_content }}}
					</div>

<!--					
<div class="col-sm-4 ">

<h3 class="magheading">Magazines</h3>

<div class="subcategories ">
	<div class="category loaded col-md-12 box-class pt10">
		<div class="cat-icon text-center">
			<a class="text-center magzter" href={{{ magzterlink }}} >
			<img src="https://hpacademy.hpcl.co.in/elearning/theme/fordson/pix/magzterbanner.png" height="80px">
			<div class="info-enhanced magclass"><span class="class-category magclass2"><br>Magzter</span></div>
			</a>
		</div>
	</div>
</div>
-->



					</div>
					
					<div id="" class="col-sm-12">
					<div class="col-sm-12 ">
<h3>Upcoming Courses</h3>
{{>theme_fordson/upcomingcourse}}
</div>
</div>					


					
                    {{{ output.fp_marketingtiles }}}
                    {{{ output.course_content_footer }}}
                    </div>
                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="hidden-print">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
</div>
    {{> theme_fordson/nav-drawer }}
</div>


<footer id="page-footer" class="container-fluid p-y-1 bg-inverse">

    <div class="container-fluid">
        <div id="course-footer">{{{ output.course_footer }}}</div>
        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
        {{/ output.page_doc_link }}

        <!-- {{{ output.login_info }}} -->
		
		<div class="row bordertop1">
			<div class="col-md-10">
				{{{ output.home_link }}}
			</div>
			<div class="col-md-2">
				{{{ output.social_icons }}}
			</div>
		</div>
		{{{ output.hits_link }}}
		
        <nav class="nav navbar-nav hidden-lg-up">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled p-t-1">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
		{{{ output.footnote }}}
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
		
    </div>
   
	
</footer>

<style>
body {
    min-height: 200px !important;
	height:auto !important;
}
</style>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['jquery','theme_boost/tooltip'], function($){$('[data-toggle="tooltip"]').tooltip()});
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
