<div id="fordsoncarouselt" class="carousel slide fordsoncarouselt" data-ride="carousel" data-interval="2500">

<div class="carousel-inner" role="listbox">

    <div class="carousel-item active">
      <div class="carousel-caption d-none d-md-block">
        <p>"Interesting items are being selected at regular intervals."</p>
        <p><i>B Sreekanth, Manager – Technical, VR</i></p>
      </div>
    </div>
	 
	<div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>"The course content is very easy to understand and is suitable even for beginners. I liked this feature of HP Academy."</p>
        <p><i>Sourabh Vijaykumar Raykar, Engineer Technical, VR</i></p>
      </div>
    </div>

	<div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>"It's succinct and appropriate."</p>
        <p><i>Himanshu Shekhar Singh, Chief Manager – Marketing & MIS, Pune LPG RO</i></p>
      </div>
    </div>
	
	<div class="carousel-item">
      <div class="carousel-caption d-none d-md-block">
        <p>"A wide spectrum of courses of short duration indicating the overview and the importance of all SBUs I liked the best. I had gone through most of them."</p>
        <p><i>Srinivas K, Manager - Mobile Laboratory/Quality Control, Cochin Retail RO</i></p>
      </div>
    </div>
	
	<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"E procurement video course was very helpful in my new assignment. Thank you."</p>
	<p><i>Sapawatu Dileep Naik, Operations Officer, Hassan Terminal</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"Also Graphical content is more absorbing compared to a written text. All visuals were carefully crafted to capture the interest of the user."</p>
	<p><i> Chavali Srinivasa Rao,Deputy General Manager – ERP, Corporate Strategy and Planning</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"Also Graphical content is more absorbing compared to a written text. All visuals were carefully crafted to capture the interest of the user."</p>
	<p><i> Chavali Srinivasa Rao,Deputy General Manager – ERP, Corporate Strategy and Planning</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"Content is very good"</p>
	<p><i>Gummalla Rama, CGM – Materials, VR</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"My learning experience with HP Academy has been quite a fruitful one."</p>
	<p><i>Sourabh Vijaykumar Raykar, Engineer Technical, VR</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"I have completed almost 8 nos. of Courses - including behavioral and technical courses. The GUI is user-friendly and is very helpful."</p>
	<p><i>Sourabh Vijaykumar Raykar, Engineer Technical, VR</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"Excellent learning experience and an exposure to all facets of the important departments keeps us updated all the times."</p>
	<p><i>Srinivas K, Manager - Mobile Laboratory/Quality Control, Cochin Retail RO</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"This provides a perfect learning experience for each and every one who had taken up the courses"</p>
	<p><i>Srinivas K, Manager - Mobile Laboratory/Quality Control, Cochin Retail RO</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"It provides good learning for young generation like me, we get to know about the achievements and future pursuits of the corporation."</p>
	<p><i>Ritika Kumari, Operations Officer, Jatni LPG Plant</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"These videos are assisting me in increasing my knowledge."</p>
	<p><i>Sudhir Singhi, CRM – Lubes, Jaipur Lubes RO</i></p>
  </div>
</div>

<div class="carousel-item">
  <div class="carousel-caption d-none d-md-block">
	<p>"It is a very good platform to improve our knowledge and current affairs."</p>
	<p><i>Majesh P M, Assistant Manager – Finance, SZ</i></p>
  </div>
</div>

	
	
</div>

    <a class="left carousel-control" href="#fordsoncarouselt" role="button" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#fordsoncarouselt" role="button" data-slide="next">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>

</div>