<div id="fordsoncarouselup" class="carousel slide fordsoncarouselup" data-ride="carousel">

<div class="carousel-inner" role="listbox"> 

	<div class="carousel-item active">
      <div class="slideupimage1"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3><div class="text_to_html">Organization of Engineering Systems and Human Resource Management</div></h3>
        <p><div class="text_to_html">The Rationale and objective of the course is to impart an understanding of the theory and principles of Organisation of engineering systems & Human Resources Management. </div></p>
      </div>
    </div>

	
	<div class="carousel-item">
      <div class="slideupimage2"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3><div class="text_to_html">Analog ICs</div></h3>
        <p><div class="text_to_html">This course will introduce advanced concepts in analog circuit. It will cover differential amplifier and its characteristics, video amplifier, Rf/IF amplifier and cascade amplifier</div></p>
      </div>
    </div>



	<div class="carousel-item">
      <div class="slideupimage3" ></div>
      <div class="carousel-caption d-none d-md-block">
        <h3><div class="text_to_html">Game Theory and Economics</div></h3>
        <p><div class="text_to_html">The course would introduce to the fundamental tools of game theory, a few equilibrium concepts, apart from numerous exercises and applications. </div></p>
      </div>
    </div>

	
	<div class="carousel-item">
      <div class="slideupimage4" ></div>
      <div class="carousel-caption d-none d-md-block">
        <h3><div class="text_to_html">Introduction to Explosion and Safety</div></h3>
        <p><div class="text_to_html">The course outlines various conditions for which disruption of things at the site of the explosion would occur and examples of the different categories of explosions</div></p>
      </div>
    </div>

	
	<div class="carousel-item">
      <div class="slideupimage5"></div>
      <div class="carousel-caption d-none d-md-block">
        <h3><div class="text_to_html">Organizational Behavior</div></h3>
        <p><div class="text_to_html">After taking this course, the participants will be able to answer the following questions: Why do people behave as they do at work? </div></p>
      </div>
    </div>

	 
</div>

    <a class="left carousel-control" href="#fordsoncarouselup" role="button" data-slide="prev">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#fordsoncarouselup" role="button" data-slide="next"> 
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>

</div>